/* --------------------
  popular css
-------------------- */

/* ---------- popular.js ---------- */
.section {
  margin-bottom: 40px;
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  padding: 25px 20px 35px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 0;
}
.section-header > div, .section-header > div > svg {
  color: var(--primary-color);
  font-size: 15px;
  cursor: pointer;
}
.section-title {
  font-size: 24px;
  margin: 0;
  color: #333;
  font-weight: 700; /* 굵게 설정 */
}
.section-link {
  font-size: 16px;
  color: #00c73c;
  text-decoration: none;
}
.section-link:hover {
  text-decoration: underline;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.item {
  background-color: #f8f9fa;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}
.item:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}
.item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.item-info {
  padding: 15px;
}

/* ---------- ProductItem.js ---------- */

.product-title {
  font-size: 18px; /* 크기 조정 */
  color: #333;
  margin: 0 0 10px 0;
  font-weight: 700; /* 굵게 설정 */
}

.product-price {
  font-size: 14px; /* 크기 조정 */
  font-weight: 700; /* 굵게 설정 */
  color: rgba(30, 34, 30, 0.73);
}

/* ---------- PostItem.js ---------- */

.hashtags {
  display: flex;
  flex-wrap: wrap; /* 해시태그가 줄바꿈되도록 설정 */
  gap: 5px; /* 해시태그 사이의 간격 */
  margin-bottom: 10px;
}
.hashtag {
  background-color: #e9ecef;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 14px;
  color: #495057;
  display: inline-block;
}
.likes {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #ff6b6b;
}
.heart-icon {
  margin-right: 5px;
  color: #ff0000; /* 빨간색으로 변경 */
}
