/* --------------------
  page css
-------------------- */

/* ---------- Main.js ---------- */

body {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f8f9fa;
	color: #333;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 25px 20px;
	padding-top: 40px; /* 헤더 높이(68px) + 여백(40px) */
}

/* ---------- Auth.js ---------- */

.auth-background {
  position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
}

.auth-container {
  width: 450px;
	padding: 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	position: absolute;
	background: #FFF;
	box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
	border-top: 5px solid var(--primary-color);
	float: left;
}

.auth-container-logo {
  margin-bottom: 80px;
  text-align: center;
}

.auth-container-logo > a {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-color);
}

/* ---------- PostMain.js ---------- */

.container {
	max-width: 1240px;
	margin: 0 auto;

}

.content-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 20px;
}

.left-content {
	flex: 2;
}

.right-content {
	flex: 1;
}



/* ---------- MyPage.js ---------- */

.mypage-container {
	max-width: 1200px;
	margin: 50px auto 0;
	display: flex;
}

.mypage-main-container {
	flex-grow: 1;
}