/* --------------------
  page css
-------------------- */

/* ---------- Main.js ---------- */

body {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f8f9fa;
	color: #333;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 25px 20px;
	padding-top: 40px; /* 헤더 높이(68px) + 여백(40px) */
}

/* ---------- Auth.js ---------- */

.auth-background {
  position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
}

.auth-container {
  width: 450px;
	padding: 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	position: absolute;
	background: #FFF;
	box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
	border-top: 5px solid var(--primary-color);
	float: left;
}

.auth-container-logo {
  margin-bottom: 80px;
  text-align: center;
}

.auth-container-logo > a {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-color);
}

/* ---------- Auth.js ---------- */

.post-edit-container {
	max-width: 720px;
	margin: 90px auto 50px;
	padding: 40px;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}