body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px 25px;
}

.search-container {
  margin-bottom: 30px;
}
.search-form {
  display: flex;
  justify-content: center;
}
.search-input {
  width: 70%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}
.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00c73c;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.search-button:hover {
  background-color: #00a032;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.post-product-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #00c73c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.post-button:hover {
  background-color: #00a032;
}
.filter-options {
  display: flex;
  gap: 10px;
}
.filter-select {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* 가로로 전체 너비를 차지 */
}



.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.item {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.item:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}
.item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.item-info {
  padding: 15px;
}
.item-info h3 {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: #333;
  line-height: 1.4;
}
.item-price {
  font-weight: bold;
  color: #000;
  font-size: 18px;
  margin-top: 10px;
}

/*페이지네이션*/
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination button {
  padding: 5px 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination button.active {
  background-color: #4caf50;
  color: white;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}













