:root {
  --primary-color: #00c73c;
}

* { 
  box-sizing: border-box; 
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}